@use './_scss' as scss;

.Title {
    width: 100vw;
    height: 100vh;
    margin: 0;
    opacity: 100;
    
    .logo {
        position: absolute;
        left: 0;
        width: 8%;
        padding: 1%;
        margin: 1%;
        z-index: 10;
        cursor: pointer;
    }
    .logoBg {
        background-color: scss.$offwhite;
        border-radius: 20px;
    }
    
    .ex {
        position: absolute;
        width: 2.7%;
        margin: 1.2%;
        padding: 1%;
        background-color: scss.$offwhite;
        border-radius: 15px;
        z-index: 1;
        cursor: pointer;
    }
    
    .aboutCards {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 60%;
        height: 60%;
        display: flex;
        justify-content: space-between;

        img {
            height: 100%;
        }
    }
    .cardPile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150%;
        height: 150%;
    }

    .textContainer {
        position: absolute;
        top: 10%;
        right: 0%;
        width: 50%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .title {
            font-size: scss.$startingTitle;
            font-family: scss.$extraBold;
            margin: 2%;
        }
        .text {
            margin: -3% 0;
            width: 80%;
            font-size: scss.$text;
            text-align: center;
        }

        .btn {
            height: 10%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;
        
            z-index: 1;
            
            img {
                width: 15%;
            }
            p {
                color: scss.$red;
                font-family: scss.$medium;
                font-size: scss.$title;
            }
            .arrowRight {
                transform: rotate(180deg);
            }
        }
        .btn0 {
            width: 30%;
            margin-top: 5%;
            &:hover {
                animation: scss.$growTitleBtn 1s forwards;
            }
        }
        .btn1 {
            width: 25%;
            margin-top: -2%;
            p {
                font-size: scss.$subtitle;
            }
            &:hover {
                animation: scss.$growOtherBtn 1s forwards;
            }
        }
    }
}
.fadeToBlack {
    animation: scss.$fadeToBlack 0.2s forwards;
}

// מסך חדש
@media screen and (min-width: 1900px) and (max-height: 1000px) {
    .Title {
        .logo {
            width: 7%;
        }        
        .ex {
            width: 2%;
            padding: 0.8%;
        }
        .textContainer {
            .text {
                width: 60%;
            }
        }
        .cardPile {
            width: 200%;
            height: 200%;
        }
    }
}
